version: "3.8"

services:
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - adaptai-network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    networks:
      - adaptai-network
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db


  api-preprocessing:
    build: ./app/api-preprocessing
    container_name: api-preprocessing
    networks:
      - adaptai-network
    depends_on:
      - mongodb
      - api-postprocessing
    environment:
      MONGO_URI: "mongodb://adaptaiuser:securePassword@mongodb:27017/adaptAiDatabase?authSource=adaptAiDatabase"
      PYTHONPATH: /app
    ports:
      - "8008:8008"
    command: ["uvicorn", "preprocessing:app", "--host", "0.0.0.0", "--port", "8008"]

  api-gateway:
    build:
      context: ./app/api-gateway
    container_name: api-gateway
    networks:
      - adaptai-network
    ports:
      - "8010:8010"
    depends_on:
      - api-preprocessing
    command: ["uvicorn", "gateway:app", "--host", "0.0.0.0", "--port", "8010"]

  api-postprocessing:
    build:
      context: ./app/api-postprocessing
    container_name: api-postprocessing
    depends_on:
      - redis
    networks:
      - adaptai-network
    ports:
      - "8004:8004"
    environment:
      - PYTHONPATH=/app
      - REDIS_HOST=redis
    command: ["uvicorn", "postprocessing:app", "--host", "0.0.0.0", "--port", "8004"]

  api-verification:
    build:
      context: ./app/api-verification
    container_name: api-verification
    networks:
      - adaptai-network
    ports:
      - "8002:8002"
    environment:
      - PYTHONPATH=/app
    command: ["uvicorn", "verification:app", "--host", "0.0.0.0", "--port", "8002"]

volumes:
  mongo_data:

networks:
  adaptai-network:
    driver: bridge