# Verification API

::: app.api-verification.verification_routes

